dist/
docs/_site
docs/web_documentation/_build
docs/.ipynb_checkpoints
docs/.sass-cache
docs/.jekyll-cache
docs/.jekyll-metadata
docs/vendor
docs/NOM_241_SSA1_2021
src/Dosepy/user
src/Dosepy/GUILayouts/__pycache__
src/Dosepy/tools/__pycache__
src/Dosepy/tools/styles/__pycache__
src/Dosepy/tools/gui_widgets/__pycache__
src/Dosepy/tools/gui_widgets/styles/__pycache__
src/Dosepy/tools/demo_files
src/Dosepy/config/settings.toml
src/Dosepy.egg-info
src/Dosepy/__pycache__
debugging.py
tests/__pycache__
tests/unit/__pycache__
__pycache__/app.cpython-310.pyc

# Virtual environments
.venv

# UV
uv.lock