dist/
docs/Jupyter_Book/_build
docs/_site
docs/.ipynb_checkpoints
docs/.sass-cache
docs/.jekyll-cache
docs/.jekyll-metadata
docs/vendor
docs/NOM_241_SSA1_2021
src/Dosepy/GUILayouts/__pycache__
src/Dosepy/tools/__pycache__
src/Dosepy/tools/demo_files
debugging.py
tests/unit/__pycache__