imageio==2.35.1
matplotlib==3.9.2
numpy==2.1.1
pydantic==2.9.2
pydicom==3.0.1
PyQt6==6.7.1
PyQt6_sip==13.8.0
PySide6==6.7.2
PySide6==6.7.2
PySide6_Addons==6.7.2
PySide6_Essentials==6.7.2
relative_dose_1d==0.1.7
scipy==1.14.1
skimage==0.0
tifffile==2024.9.20
tomlkit==0.13.2
tqdm==4.66.5
