imageio==2.35.1
matplotlib==3.9.2
numpy==2.1.1
pydantic==2.9.2
pydicom==3.0.1
scipy==1.14.1
scikit-image>=0.25
tifffile==2024.9.20
tomlkit==0.13.2
tqdm==4.66.5
pyyaml == 6.0.2
plotly>=6.0.0
ipykernel>=6.29.5
nbformat>=5.10.4